@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

:root {
    /* COLORS */
    --primary-color: #0B00B6;
    --second-color: #5731E3;
    --third-color: #8A59FF;
    --accent-color: #FF6942;

    /* FONTS */
    --heading-font: 'Spectral SC', serif;
    --paragraph-font: monospace, sans-serif;
}

html {
    font-family: var(--paragraph-font);
    /* font-size: 16px; */
}

body {
    /* background-image: linear-gradient(var(--second-color), var(--third-color)); */
    background-image: linear-gradient(var(--third-color), var(--accent-color));
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

#content {
    margin: 0 auto;
    max-width: 75rem;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    /* background-image: linear-gradient(var(--primary-color), var(--second-color)); */
    padding: 1rem;
    color: white;
}

.header-container {
    max-width: calc(75rem - 3rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 1fr .7fr;
    align-items: center;
}

nav {
    justify-self: center;
    grid-row: 2;
    grid-column: 1 / 4;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

nav ul li a {
    display: block;
    padding: 1.2rem 2vw;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}

/* nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
} */

nav ul li a:hover {
    background-color: rgba(0,0,0,0.5);
    transition: background-color .5s;
}

nav ul {display:none;}
nav ul.open {display:block;}

#hamburgerBtn {
    grid-row: 1;
    grid-column: 3;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 2rem;
    color: #fff;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* LOGO + MOTTO */
.header-logo {
    display: flex;
    align-content: center;
}

.header-logo img {
    float: left;
    width: 4rem;
    margin-right: 1em;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0;
}

.motto {
    margin: 0;
}

/* SOCIALS */
.header-socials {
    justify-self: center;
    grid-column: 2;
    /* width: max-content; */
    text-align: center;
}

.header-socials img {
    max-width: 1.6rem;
}

/* DATE */
.header-date {
    border-radius: 1rem;
    text-align: center;
    grid-row: 3;
    grid-column: 1 / 4;
    justify-self: center;
    width: calc(100% - 2rem);
    margin-top: 1rem;
    padding: 1em;
    background-color: rgba(0,0,0,0.3);
}

/* MAIN */

main {
    display: grid;
    gap: 1rem;
    background-image: linear-gradient(var(--third-color), var(--accent-color));
}

main > div {
    background-color: rgba(0,0,0,0.4);
    padding: .7rem;
    color: white;
    text-align: center;
}

main img {
    width: 40%;
}

main a {
    text-decoration: none;
    color: var(--accent-color);
    margin: 0;
}

.hero {
    padding: 0;
    position: relative;  
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero button {
    position: absolute;
    bottom: .7rem;
    right: .7rem;
    background-image: linear-gradient(to bottom right, var(--third-color), var(--accent-color));
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    width: 50%;
    padding: .5rem;
    box-shadow: 0 0 10px 2px grey;
}

.hero h2 {
    margin: 0;
    position: absolute;
    top: .7rem;
    left: .7rem;
    font-size: 2rem;
    text-shadow: 0px 0px 15px black;
    display: none;
}

.hero button:hover {
    background-image: none;
    background-color: var(--accent-color);
}

.join button {
    margin-top: 1rem;
    background-image: linear-gradient(to bottom right, var(--third-color), var(--accent-color));
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    padding: .5rem;
}

.join button:hover {
    background-image: none;
    background-color: var(--accent-color);
}

.spotlights div:nth-child(3) {
    display: none;
}

.spotlights > div {
    padding: .7rem;
    border: 1px solid white;
    /* box-shadow: 0px 0px 10px 1px black inset; */
    /* box-shadow: 0px 0px 10px 1px black; */
}

.spotlights div h2 {
    margin: 0;
}

.spotlights div p {
    margin: 0;
}

.join {
    display: none;
}

.weather-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-container p {
    font-size: 3rem;
    margin: 0;
}

.weather-container img {
    width: 25%;
}


.weather h2 {
    margin: 0 0 .5rem;
}

.weather h3 {
    margin: 0;
    margin-top: .5rem;
}


/* END MAIN */

/* FOOTER */
footer {
    background-color: var(--primary-color);
    /* background-image: linear-gradient(var(--second-color), var(--primary-color)); */
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.footer-container {
    max-width: calc(75rem - 3rem);
    margin: 0 auto;
}

.footer-main img {
    /* float: left; */
    width: 6rem;
    margin-right: 1em;
}

.footer-main h2 {
    font-size: 1.3rem;
    margin: 0;
}

.footer-main p {
    margin: .2rem 0;
}

.final-info > hr {
    margin: 1.5rem 0 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.final-info span:nth-child(2) {
    display: none;
}

.announcement {
    display: none;
}

#annBtn {
    background-color: transparent;
    border: none;
}

.announcement.visible {
    background-image: linear-gradient(to right, var(--third-color), var(--accent-color));
    text-align: center;
    padding: .5rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
}