@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

:root {
    /* COLORS */
    --primary-color: #0B00B6;
    --second-color: #5731E3;
    --third-color: #8A59FF;
    --accent-color: #FF6942;

    /* FONTS */
    --heading-font: 'Spectral SC', serif;
    --paragraph-font: monospace, sans-serif;
}

html {
    font-family: var(--paragraph-font);
    /* font-size: 16px; */
}

body {
    background-color: #8A59FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

#content {
    margin: 0 auto;
    max-width: 75rem;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    /* background-image: linear-gradient(var(--primary-color), var(--second-color)); */
    padding: 1rem;
    color: white;
}

.header-container {
    max-width: calc(75rem - 3rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 1fr .7fr;
    align-items: center;
}

.header-container a {
    text-decoration: none;
    color: white;
}

nav {
    justify-self: center;
    grid-row: 2;
    grid-column: 1 / 4;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

nav ul li a {
    display: block;
    padding: 1.2rem 2vw;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}

/* nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
} */

nav ul li a:hover {
    background-color: rgba(0,0,0,0.5);
    transition: background-color .5s;
}

.nav-active {
    background-color: rgba(0,0,0,0.5);
}

nav ul {display:none;}
nav ul.open {display:block;}

#hamburgerBtn {
    grid-row: 1;
    grid-column: 3;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 2rem;
    color: #fff;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* LOGO + MOTTO */
.header-logo {
    display: flex;
    align-content: center;
}

.header-logo img {
    float: left;
    width: 4rem;
    margin-right: 1em;
}

.headings h2 {
    font-size: 1.6rem;
    margin: 0;
}

.motto {
    margin: 0;
}

/* SOCIALS */
.header-socials {
    justify-self: center;
    grid-column: 2;
    text-align: center;
}

.header-socials img {
    max-width: 1.6rem;
}

/* DATE */
.header-date {
    border-radius: 1rem;
    text-align: center;
    grid-row: 3;
    grid-column: 1 / 4;
    justify-self: center;
    width: calc(100% - 2rem);
    margin-top: 1rem;
    padding: 1em;
    background-color: rgba(0,0,0,0.3);
}

/* MAIN */

.home-main {
    display: grid;
    gap: 1rem;
    background-color: var(--third-color);
}

.home-main > div {
    background-color: var(--second-color);
    padding: .7rem;
    color: white;
    text-align: center;
}

.spotlights img {
    width: 40%;
}

.home-main div > a {
    text-decoration: none;
    color: var(--accent-color);
    margin: 0;
}

.home-main .hero {
    padding: 0;
    position: relative;  
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero .joinBtn1 {
    position: absolute;
    bottom: .7rem;
    right: .7rem;
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    width: 50%;
    padding: .5rem;
}

.hero h2 {
    margin: 0;
    position: absolute;
    top: .7rem;
    left: .7rem;
    font-size: 2rem;
    text-shadow: 0px 0px 15px black;
    display: none;
}

.joinBtn1, .joinBtn2 {
    color: #fff;
}

.joinBtn1:hover, .joinBtn2:hover {
    background-color: #fff;
    color: var(--accent-color);
    transition: background-color .5s;
}

.joinBtn1:active, .joinBtn2:active {
    transform: translateY(1px)
}

.joinBtn2 {
    margin-top: 1rem;
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    padding: .5rem;
}

#joinlink2 {
    color: white;
    display: block;
}

#joinlink2:hover {
    color: var(--accent-color);
}


.event h2 {
    margin: .5rem 0 0;
}

.event h3 {
    margin: .5rem 0 0;
}

.spotlight3 {
    display: none;
}

.spotlight1 {
    border-bottom: 1px white solid;
    margin-bottom: .7rem;
    padding-bottom: .7rem;
}

.spotlights img {
    max-width: 120px;
}

.spotlights > div {
    padding: .7rem;
}

.spotlights div h2 {
    margin: 0;
}

.spotlights div p {
    margin: 0;
}

.join {
    display: none;
}

.weather-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-container p {
    font-size: 3rem;
    margin: 0;
}

.weather-container img {
    width: 25%;
}


.weather h2 {
    margin: .5rem 0 .5rem;
}

.weather h3 {
    margin: 0;
    margin-top: .5rem;
}

/* END MAIN */

/* FOOTER */
footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.footer-container {
    max-width: calc(75rem - 3rem);
    margin: 0 auto;
}

.footer-main img {
    width: 6rem;
    margin-right: 1em;
}

.footer-main h2 {
    font-size: 1.3rem;
    margin: 0;
}

.footer-main p {
    margin: .2rem 0;
}

.final-info > hr {
    margin: 1.5rem 0 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.final-info span:nth-child(2) {
    display: none;
}

.announcement {
    display: none;
}

#annBtn {
    background-color: transparent;
    border: none;
}

.announcement.visible {
    background-color: var(--accent-color);
    text-align: center;
    padding: .5rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

/* ***************** DISCOVER ***************** */

.gallery {
    max-width: 72rem;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: var(--second-color);
    text-align: center;
}

.gallery h1 {
    margin: 0 0 1rem;
    color: #fff;
    font-weight: lighter;
    font-size: 3rem;
}

.gallery img {
    width: 100%;
    display: block;
}

.gallery-description {
    color: #fff;
    margin: .4rem 0 3rem;
}

.img-gallery9 p {
    margin-bottom: 2rem;
}

/* ***************** THANK YOU  ***************** */

.thanks-main {
    max-width: 30rem;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    color: #fff;
    background-color: var(--second-color);
}

.thanks-main a {
    text-decoration: none;
    color: var(--accent-color);
}

.footer-thanks {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ***************** JOIN ***************** */

.join-main {
    max-width: 30rem;
    margin: 0 auto;
    color: #fff;
}

.required-symbol {
    color: red;
}

.join-form {
    background-color: var(--second-color);
    padding: 1rem;
}

.join-form fieldset {
    border: none;
    padding-left: 0;
    margin-left: 0;
}

.join-form fieldset legend h3 {
    font-size: 1.3rem;
    margin: 1rem 0 0;
}

.join-form label  {
    display: block;
    margin-top: 1rem;
    font-size: 1.1em;
}

.join-form label.top input, .join-form label.top textarea {
    display: block;
    padding: 0.3rem;
    width: 100%;
}

.join-form label.side {
    margin: 1rem 0;
}

#joinSubmitBtn {
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
    padding: .5rem;
    margin: 1rem 0 0;
    width: 100%;
}

#joinSubmitBtn:hover {
    background-color: #fff;
    color: var(--accent-color);
    transition: background-color .5s;
    cursor: pointer;
}

#joinSubmitBtn:active {
    transform: translateY(1px);
}

.join-form label.top input:required {
    border: none;
    border-left: red solid 6px;
}

.join-form label.top input:required:valid {
    border-left: green solid 6px;
}

/* ***************** DIRECTORY ***************** */

.directory-header {
    border-bottom: 2px #0B00B6 solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

#viewBtn {
    width: 4rem;
    border: none;
    background-color: transparent;
    padding: .7rem;
}

#viewBtn:active {
    transform: translateY(1px);
}

#viewBtn span:nth-child(1) {display: block;}
#viewBtn span:nth-child(2) {display: none;}

#viewBtn.active span:nth-child(1) {display: none;}
#viewBtn.active span:nth-child(2) {display: block;}

.directory-header img {
    width: 100%;
}

.directory-main {
    background-color: var(--second-color);
    color: #fff;
}

#directory {
    text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#directory.active {
    display: block;
}

#directory section {
    padding: 1rem;
    background-color: var(--second-color);
    border-bottom: 2px #0B00B6 solid;
}

#directory section p:nth-child(2) {
    display: none;
}

#directory section p:nth-child(3) {
    margin-top: 0;
}

#directory section a:nth-child(5) {
    color: #FF6942;
}

#directory section img {
    margin-bottom: 1rem;
    width: 50%;
    border-radius: 1rem;
    border: 2px var(--primary-color) solid;
}

#directory.active section {
    text-align: left;
}

#directory.active section:nth-child(odd) {
    background-color: #4920df;
}

#directory.active section img {
    display: none;
}

#directory.active section p:nth-child(2) {
    display: block;
    font-size: 1.2rem;
    margin-top: 0;
}